# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Audio files
static/
temp_audio.mp3

# Database
*.sql
*.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
*.pth